<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kogile.Module.DescriptionDTO" alias="DescriptionDTO"/>
		<typeAlias type="kogile.Module.ReplyDTO" alias="ReplyDTO"/>
		<typeAlias type="kogile.Module.ReplyUpdateSearchDTO" alias="ReplyUpdateSearchDTO"/>
		<typeAlias type="kogile.Module.ReplyMemberDTO" alias="ReplyMemberDTO"/>
		<typeAlias type="kogile.Module.TagDTO" alias="TagDTO"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:XE" />
				<property name="username" value="kogile" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="kogile/example/Mapper/post.xml" />
	</mappers>

</configuration>
