<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!--chat, startPage card-->
		<typeAlias type="kogile.chat.DTO.ChatDTO" alias="ChatDTO" />
		<typeAlias type="kogile.project.DTO.ProjectDTO" alias="ProjectDTO" />
		<typeAlias type="kogile.project.DTO.InviteDTO" alias="InviteDTO" />
	

		<!--post -->
		<typeAlias alias="PostDTO" type="kogile.post.Model.PostDTO" />
		<typeAlias alias="MemberDTO"
			type="kogile.post.Model.MemberDTO" />
		<typeAlias alias="ChargeDTO"
			type="kogile.post.Model.ChargeDTO" />
		<typeAlias alias="PostMemberDTO"
			type="kogile.post.Model.PostMemberDTO" />
		<typeAlias alias="DdateDTO"
			type="kogile.post.Model.DdateDTO" />
			
	</typeAliases>



	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:XE" />
				<property name="username" value="kogile" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="kogile/chat/Mapper/Chat.xml" />
		<mapper resource="kogile/project/Mapper/Project.xml" />
		<mapper resource="kogile/post/Mapper/Post.xml" />
	</mappers>
</configuration>

