<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kogile.memberboard.Service.MemberBoard" alias="MemberBoard"/>
		<typeAlias type="kogile.memberboard.Service.MemberSearch" alias="MemberSearch"/>
		<typeAlias type="kogile.memberboard.Service.InviteList" alias="InviteList"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:XE" />
				<property name="username" value="kogile" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="kogile/memberboard/Mapper/MemberBoard.xml" />
		<mapper resource="kogile/memberboard/Mapper/InviteList.xml" />
	</mappers>

</configuration>
